@import "../../css/variables.module.scss";

// FIXME_FONTS: revisit for meaningful & pixel perfect styling
// - magic values of rem / max-width
// - width of the sidebar is not already 200px
// - nothing is really pixel perfect according to the desing
//   - buttons width / height, label paddings, sidebar width, divers height, text align icons, etc.
// - mixing div.h3 and fieldset.label for labels

.excalidraw {
  .font-picker-container {
    display: grid;
    grid-template-columns: 1fr 1rem var(--default-button-size);
    align-items: center;
    max-width: calc(2rem + 4*var(--default-button-size)); // 2 (0.5+0.5+1) gaps + 4 buttons
  }
}