@import "../../css/variables.module.scss";

// FIXME_FONTS: revisit for meaningful & pixel perfect styling
// - magic values of rem / max-width
// - width of the sidebar is not already 200px
// - nothing is really pixel perfect according to the desing
//   - buttons width / height, label paddings, sidebar width, divers height, text align icons, etc.
// - mixing div.h3 and fieldset.label for labels

.excalidraw {
  .FontPicker__container {
    display: grid;
    grid-template-columns: calc(1rem + 3* var(--default-button-size)) 1rem 1fr; // calc ~ 2 gaps + 4 buttons
    align-items: center;

    @include isMobile {
      max-width: calc(2rem + 4*var(--default-button-size)); // 4 gaps + 4 buttons
    }
  }
}
